body {
    font-family: Arial, sans-serif;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 800px;
    margin: auto;
}



.counter {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: black;
    width: 300px;
}

.counter h1 {
    font-size: 48px;
    margin: 20px 0;
}

.btn button {

    font-size: 16px;
    border: 2px solid gray;
    background-color: whitesmoke;
    border-radius: 5px;
}

.btn button:hover {
    background-color: black;
    color: white;
}